<footer id="footer">
  <div class="footer-elements">
    <div class="footer-bg-icon">
      <img src="./assets/images/footer/footer-icon.svg" alt="Background" />
    </div>

    <div class="footer-content">
      <div class="vn-badge">
        <i class="fa-solid fa-star yellow-star"></i>
        <span>Hoàng Sa & Trường Sa là của Việt Nam!</span>
      </div>

      <div class="brand-social-row">
        <a href="#" class="footer-logo">
          <img src="./assets/images/logos/logo.svg" alt="RoPhim" />
        </a>

        <div class="vertical-line"></div>

        <div class="socials">
          <a href="#" class="social-item"
            ><i class="fa-brands fa-telegram"></i
          ></a>
          <a href="#" class="social-item"
            ><i class="fa-brands fa-discord"></i
          ></a>
          <a href="#" class="social-item"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a href="#" class="social-item"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="#" class="social-item"
            ><i class="fa-brands fa-tiktok"></i
          ></a>
          <a href="#" class="social-item"
            ><i class="fa-brands fa-youtube"></i
          ></a>
          <a href="#" class="social-item"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
      </div>

      <div class="footer-menu">
        <a href="#">Hỏi-Đáp</a>
        <a href="#">Chính sách bảo mật</a>
        <a href="#">Điều khoản sử dụng</a>
        <a href="#">Giới thiệu</a>
        <a href="#">Liên hệ</a>
      </div>

      <div class="footer-menu sub-links">
        <a href="#">Dongphim</a>
        <a href="#">Ghienphim</a>
        <a href="#">Motphim</a>
        <a href="#">Subnhanh</a>
      </div>

      <div class="footer-notice">
        RoPhim – Phim hay cả rổ - Trang xem phim online chất lượng cao miễn
        phí Vietsub, thuyết minh, lồng tiếng full HD. Kho phim mới khổng lồ,
        phim chiếu rạp, phim bộ, phim lẻ từ nhiều quốc gia như Việt Nam, Hàn
        Quốc, Trung Quốc, Thái Lan, Nhật Bản, Âu Mỹ… đa dạng thể loại. Khám
        phá nền tảng phim trực tuyến hay nhất 2024 chất lượng 4K!
      </div>

      <div class="footer-copyright">© 2024 RoPhim</div>
    </div>
  </div>
</footer>
